<html>
  <head>
    <title>Créer un potin</title>
  </head>
  <body>
    <h1>Voici la page du potin n°<%=params['id']%></h1>
    <p>Modifier le potin via le formulaire ci-dessous</p>
    <form action='/gossips/id/edit/' method='POST'>
      Saisi ici ton nom :  <input type='text' name='gossip_author' value="<%= gossip.author %>"/><br/>
      Balance ton potin : <input type='text' name='gossip_content'value="<%= gossip.content %>"/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>